HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/Historias
/Estudios
/Estudios/1c7cb2f3-f921-4c3a-a19c-989b2e3357f8.jpg
/Estudios/5AFF8D20-C627-484C-AB01-D29C5A39F0A0.jpg
/Estudios/58_IMG_5784.JPG
/Estudios/070CB31F-6C4B-4661-A91E-F557FE7A60CF.jpg
/Estudios/78924A16-E24B-4751-AFCA-C8858E5357B2.jpg
/Estudios/1501524971_nb-darcula-1.6.nbm
/Estudios/bdd
/Estudios/bootstrap.min.js
/Estudios/comctl32.ocx
/Estudios/Diagnostico_del_Área_Tecnológica.docx
/Estudios/estilo.css
/Estudios/f54.jpg
/Estudios/haha.png
/Estudios/IMG_0001.PNG
/Estudios/IMG_0005.JPG
/Estudios/IMG_0006.JPG
/Estudios/IMG_0008.PNG
/Estudios/IMG_0008_(editado).PNG
/Estudios/IMG_1546.JPG
/Estudios/IMG_3930.JPG
/Estudios/IMG_3931.JPG
/Estudios/IMG_3932.PNG
/Estudios/IMG_4805.JPG
/Estudios/IMG_5860.jpg
/Estudios/menu.php
/Estudios/tbl.php
